.DS_Store
.env

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
android/captures/
android/app/release/
android/*.apk
*.iml

# Server
server/.gradle/
server/build/
data/

# Web
web/node_modules/
web/dist/
